@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
* {
  @apply no-scrollbar;
}
body {
  @apply bg-slate-950 text-slate-300 overflow-y-scroll  no-scrollbar;
}

/* For Active Links */
.active {
  @apply text-sky-400;
}

tr {
  @apply border-b border-slate-300;
}

.MuiTableHead-root button {
  @apply p-0 text-left font-bold text-slate-200;
}
