@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
  @apply no-scrollbar;
}

body {
  @apply bg-slate-950 font-poppins font-base text-slate-300 overflow-y-scroll;
}

/* For Active Links */
.active {
  @apply text-sky-400;
}

tr {
  @apply border-b border-slate-300;
}

.MuiTableHead-root button {
  @apply p-0 text-left font-bold text-slate-200;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-700 rounded-xl;
}

.task > ::-webkit-scrollbar-thumb {
  @apply bg-indigo-600 rounded-xl;
}

.btn {
  @apply rounded-none;
}
